# Unwanted editor cache
.vscode/**

# No temporary files
*tmp*

# No docker cache
*.bash_history

# No environements allowed
.env

# Ignore created python binaries
binarea_server

# No modules allowed
node_modules/**

# No unwanted environements
**/.env/**
**/env/**
**/lenv/**
**/menv/**
**/wenv/**
**/server_env/**
**/doc/**
